* {
    font-family:Verdana, Geneva, sans-serif;
    font-size:20px;
}
 
ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 15px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(253, 95, 253); 
    background: rgb(28, 130, 112);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}

.text {
    color:#FFF;
}

.color {
    background-color: lightskyblue;
    
}